.container-carousel-highlights {
    height: auto;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.container-highlight-item {
    height: auto;
    width: 20%;
    margin: 0px 2%;
}

.container-highlight-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 8px 8px 9px 8px rgba(0, 0, 0, 0.1);
}

.container-highlight-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center; 
}
.container-highlight-item h1 {
    font-size: 1.3rem;
    font-weight: 700; 
    font-family: 'Bebas Neue', sans-serif; 
    margin: 40px 0px;
}

.container-highlight-item p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; 
}

.container-highlight-item h1 span {
    display: block;
}