.container-MomentsDescription {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-Description3 {
    height: auto;
    width: 65%;
    margin: 5% 0;
}
.container-Description3 h1 {
    font-size: 1.7rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 5%;
}
.container-Description3 p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #000;
}