.container-projetcsDescription1 {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container-projetcsDescription1 h1 {
    color: #212121;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 2% 2% 0 5%;
    margin: 0 0 0 0;
}
.container-projetcsDescription1 p {
    color: #212121;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 2% 15% 5% 15%;
    margin: 0 0 0 0;
}