.container-experienceWelcomeCircle {
    height: 140vh;
    width: 100vw;
    position: relative;
}
.container-circleExperience {
    height: 120vh;
    width: 100vw;
    position: absolute;
    display: block;
    bottom: 0;
    border-radius: 48% 48% 0 0;
    z-index: -1;
    background: #dfe2e8;
}
.container-firstDescription {
    height: min-content;
    width: 90%;
    margin: 0px 5%;
    position: relative;
    display: flex;
    align-items: center;
}
.container-firstDescriptionImg {
    margin: 2% 0px 0px 0px;
    height: 50vh;
    width: 35%;
    position: relative;
    display: block;
}
.container-firstDescriptionImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container-Description4 {
    margin: 2% 0px 0px 30%;
    height: min-content;
    width: 60%;
    padding: 2% 5%;
    font-size: 1.2rem;
    position: absolute;
    background: rgba(195, 210, 227, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-DescriptionChatGPTLovers {
    margin-top: 7%;
    height: 50%;
    width: 100vw;
    position: relative;
}
.container-Description5 {
    margin: 0px 0px 0px 7%;
    height: min-content;
    width: 50%;
    position: relative;
}
.container-Description5 h1 {
    padding-top: 5%;
    color: #000;
    font-size: 3rem;
    font-weight: 600;
    margin: 0px 0px 2% 0px;
}
.container-Description5 p {
    font-weight: 900;
    color: #000;
    font-size: 1.2rem;
    margin: -3% 0px 0px 5%;
}
.container-Description6 {
    height: min-content;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-experienceDesc6 {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: -8%;
}
.container-experienceDesc6 p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin: 15% 0px 0px 0px;
}
.container-experienceDesc6 button {
    height: 50px;
    width: 50%;
    border: none;
    border-radius: 10px;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 8% 0px 0px 0px;
    cursor: pointer;
}
.container-imageWelcomeGPT {
    margin: 5% 0px 0px 5%;
    width: 400px;
}
.container-imageChatGPT {
    margin: -9% 0px 0px 72%;
    width: 300px;
    display: block;
    position: absolute;
}