

:root {
    --banner-height: 100vh;
    --banner-width: 100vw;
    --banner-background: #1F2D48;
    --triangle-rotation: 42deg;
    --triangle-border-top: 71.25vw;
    --triangle-border-right: 73.85vw;
}

.container-banner {
    box-sizing: border-box;
    height: var(--banner-height);
    width: var(--banner-width);
    position: relative;
    overflow: hidden;
    background: var(--banner-background);
}

.container-banner_img {
    height: 130vh;
    width: 920px;
    display: block;
    position: absolute;
    right: 0;
}

.container-banner_triangle {
    margin-top: -50%;
    margin-left: -14%;
    height: 0;
    width: 0;
    z-index: 100;
    transform: rotate(var(--triangle-rotation));
    border-top: var(--triangle-border-top) solid transparent;
    border-right: var(--triangle-border-right) solid var(--banner-background);
    border-bottom: var(--triangle-border-top) solid transparent;
    position: absolute;
}

.container-description {
    margin-top: 13%;
    margin-left: 10%;
    height: auto;
    width: 50%;
    position: absolute;
    z-index: 200;
}

.container-description h1 {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    margin-bottom: 1rem;
}

.container-description p {
    padding-top: 2%;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #EBECF0;
    margin-bottom: 1rem;
}

.container-description a {
    text-decoration: none;
    margin-top: 2%;
    padding: .5rem 6rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
    background: none;
    border: 1px solid #fff;
    border-radius: 30px;
    cursor: pointer;
}