name: Deploy GitHub Pages

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'

    - name: Build Project
      run: |
        npm install
        npm run build

    - name: Deploy to gh-pages
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git worktree add gh-pages gh-pages
        rsync -av --delete dist/ gh-pages/
        cd gh-pages
        git add .
        git commit --allow-empty -m "Deploy to GitHub Pages"
        git push origin gh-pages --force
